**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# 编译产物与缓存
cache/
out/

# 依赖库（重点：忽略本地的 lib 源码）
lib/

# IDE 与系统文件
.vscode/
.idea/
.DS_Store

